# ===============================
# ОС
# ===============================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ===============================
# Логи
# ===============================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# Node.js
# ===============================
node_modules/
npm-cache/
.pnpm-store/

# ===============================
# Build / dist
# ===============================
dist/
# build/
out/
coverage/

# ===============================
# Env файли
# ===============================
.env
.env.*
!.env.example

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ===============================
# Cache
# ===============================
.cache/
.tmp/
.temp/

# ===============================
# Compiled
# ===============================
*.map
*.min.js
*.min.css

# ===============================
# Tests
# ===============================
/test-results/
/playwright-report/

# ===============================
# Others
# ===============================
*.swp
*.lock
